.youtube__header {
  color: white;
  background-color: black;
  height: 2rem;
  padding: 0.5em;
  text-align: center;
  width: 1000px;
  margin: 0 auto;
}
.youtube__logo {
  width: 2rem;
  vertical-align: middle;
}

.youtube__title {
  margin: 0.5em;
}

.youtube__search__text {
  width: 550px;
  height: 25px;
  padding: 0 4px;
  border: 0;
  border-radius: 2px 2px 0px 0px;
}

.youtube__search__btn {
  color: white;
  background-color: rgb(70, 69, 69);
  border: 0;
  height: 28px;
  width: 30px;
  padding: 0px;
  margin: 0px;
  vertical-align: middle;
}
.youtube__search__btn img {
  height: 50%;
  width: 50%;
}
.youtube__section {
  width: 1000px;
  margin: 0 auto;
  padding: 8px;
  display: flex;
  flex-direction: row;
}
.video__list__view {
}

.video__list {
  list-style: none;
  padding: 0;
  margin: 0px 0px;
  columns: 2;
}

.video__play__view {
  float: left;
  width: 70%;
  display: none;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.set2column {
  columns: 2;
}

.set1column {
  columns: 1;
}

.video__desc {
  margin: 1rem 0;
  max-width: 600px;
}
@media screen and (max-width: 720px) {
  .youtube__header {
    width: 700px;
  }

  .youtube__section {
    width: 700px;
    display: flex;
    flex-direction: column;
  }
  .video__desc {
    max-width: 400px;
    margin-top: 1rem;
  }
}
