.youtube__header {
  color: white;
  background-color: black;
  height: 2rem;
  padding: 0.5em;
  text-align: center;
  width: 700px;
  margin: 0 auto;
}
.youtube__logo {
  width: 2rem;
  vertical-align: middle;
}

.youtube__title {
  margin: 0.5em;
}

.youtube__search__text {
  width: 550px;
  height: 25px;
  padding: 0 4px;
  border: 0;
  border-radius: 2px 2px 0px 0px;
}

.youtube__search__btn {
  color: white;
  background-color: rgb(70, 69, 69);
  border: 0;
  height: 28px;
  width: 30px;
  padding: 0px;
  margin: 0px;
  vertical-align: middle;
}
.youtube__search__btn img {
  height: 50%;
  width: 50%;
}
.youtube__section {
  width: 700px;
  margin: 0 auto;
  padding: 8px;
}
.video__list__view {
}

.video__list {
  list-style: none;
  padding: 0;
  margin: 2px 0px;
  columns: 1;
}

.video__list li {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgb(122, 122, 122);
  box-shadow: 1px 1px 1px rgb(99, 99, 99);
  margin: 2px;
  height: 120px;
  break-inside: avoid;
}
.video__list li img {
  width: 100px;
  margin: 0 1em 0 0.5em;
}

.video__title {
  display: inline-block;
  width: 100%;
  font-size: 1rem;
}

.video__channel {
  color: gray;
  font-size: 0.8rem;
}
