.app {
  max-width: 80rem;
}
.showView {
  display: block;
  flex: 1 1 60%;
}
.listView {
  flex: 1 1 40%;
  padding-left: 0.5rem;
}
.hide__view {
  display: none;
}
.section {
  display: flex;
}
.floatLeft {
  float: right;
}
@media screen and (max-width: 820px) {
  .section {
    width: 700px;
    flex-direction: column;
  }
  .video__desc {
    max-width: 400px;
    margin-top: 1rem;
  }
}
